<div class = "nav">
<a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
<a routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" routerLink="/hauntedplace">Haunted Places</a>
<a routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" routerLink="/booking">Booking</a>
<a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/blog">Blog</a>
<a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">Contact Us</a>
</div>
